.section1-container {
  color: white;
  padding-top: 210px;
  padding-bottom: 120px;
  background-color: #23272a;
  opacity: 1;
  
}

.content-section1-container {
  width: 95%;
  max-width: 1180px;
  margin: 0px auto;
  display: flex;
  column-gap: 32px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 2s, transform 2s;
  transform: translate(0%, 10%);
}

.show {
  opacity: 1;
  transform: translate(0%, 0%);
}

.title-section1 {
  font-family: "Alfa Slab One";
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 24px;
}

.text-section1 {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 30px;
}

.button-section1-container {
  display: grid;
  grid-template-columns: 295px 180px;
  column-gap: 24px;
  justify-content: start;
  align-items: center;
}

.img-section1-container {
  width: 100%;

}

.img-section1-container img {
  width: 100%;
}

.download-button-section1 {
  cursor: pointer;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 30px;
  color: white;
  background-color: #5865f2;
  background-image: url(https://assets-global.website-files.com/6257adef93867e50d84d30e2/6582b262413a0600bad70006_download.svg);
  background-position: 10% 50%;
  background-repeat: no-repeat;
  transition: background-color 0.15s, box-shadow 0.15s;
}

.download-button-section1:hover {
  background-color: #7882ef;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.content-section2-container {
  padding: 0px 50px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, 160px) minmax(auto, 420px) minmax(auto, 160px) minmax(auto, 420px) minmax(auto, 120px) minmax(auto, 300px);
  max-width: 1180px;
  row-gap: 20px;
  column-gap: 20px;
}

.content-section2-container img {
  width: 100%;
  margin-top: 64px;
  
}

.ios, 
.android, 
.linux, 
.mac {
  border-radius: 26px;
  background-color: #f6f6f6;
  padding: 56px;
  max-height: 600px;
  width: 100%;
  overflow: hidden;
}

.download-button-downloadpage{
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  padding: 16px 32px;
  background-color: #23272a;
  color: white;
  font-size: 18px;
  border-radius: 28px;
  margin: 0px auto;
  margin-top: 10px;
  border: none;
  display: block;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.download-button-downloadpage:hover {
  background-color: #424647;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) ;
  transform: translate(0%, -2%);
}

.download-public-button {
  margin-top: 24px;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  padding: 12px 32px 15px 32px;
  background-color: #23272a;
  color: white;
  font-size: 18px;
  border-radius: 28px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.download-public-button:hover {
  background-color: #424647;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) ;
  transform: translate(0%, -2%);
}

.download-archives-section2 {
  margin-top: 24px;
  cursor: pointer;
  width: 100%;
  max-width: 180px;
  padding: 12px 32px 15px 32px;
  background-color: #23272a;
  color: white;
  font-size: 18px;
  border-radius: 28px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.download-archives-section2:hover {
  background-color: #424647;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5) ;
  transform: translate(0%, -2%);
}

.download-public-button svg {
  margin-left: 8px;
}

.download-archives-section2 svg {
  margin-left: 8px;
}

.title-content-section2 {
  margin-bottom: 8px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.title-experimental-section2 {
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}

.text-experimental-section2 {
  margin-top: 24px;
}

.text-archives-section2 {
  margin-top: 24px;
}

.title-archives-section2 {
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 8px;
}

.ios {
  grid-row: 1 / 3;
}

.android {
  grid-column: 2;
  grid-row: 2 / 4
}

.linux {
  grid-column: 1;
  grid-row: 3 / 5;
}

.mac {
  grid-column: 2;
  grid-row: 4 / 6;
}

.experimental {
  border-radius: 26px;
  background-color: #f6f6f6;
  padding: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 290px;
  grid-column: 1;
  grid-row: 5 / 7;
}

.archives {
  display: flex;
  flex-direction: column;
  max-height: 290px;
  border-radius: 26px;
  background-color: #f6f6f6;
  padding: 56px;
  width: 100%;
  grid-column: 2;
  grid-row: 6 / 7;
}


@media (width <= 1040px) {
  .button-section1-container {
    grid-template-columns: 295px;
    row-gap: 24px;
  }
}

@media (width <= 991px) {
  .content-section2-container img {
    width: 150%;
    transform: translate(-5%, 0px);
  }

  .img-section1-container {
    width: 50%;
    overflow: hidden;
  }

  .img-section1-container img {
    min-width: 600px;
  }

  .content-section1-container {
    column-gap: 0px;
    overflow: hidden;
    margin-right: 0px;
  }

  .text-content-section1-container {
    width: 50%
  }

  .section1-container {
    padding-top: 140px;
  }

  .experimental {
    padding: 40px 20px;
  }

  .archives {
    padding: 40px 20px;
  }
}

@media (width <= 767px) {
  .content-section2-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(auto, 500px)) minmax(290px, auto) minmax(290px, auto);
  }

  .ios {
    grid-column: 1;
    grid-row: span 1;
  }
  
  .android {
    grid-column: 1;
    grid-row: span 1;
  }
  
  .linux {
    grid-column: 1;
    grid-row: span 1;
  }
  
  .mac {
    grid-column: 1;
    grid-row: span 1;
  }

  .experimental {
    max-width: 100%;
    grid-column: 1;
    grid-row: span 1;
    padding: 40px 20px;
  }

  .archives {
    max-width: 100%;
    grid-column: 1;
    grid-row: span 1;
    padding: 40px 20px;
  }

  .download-public-button {
    padding: 12px 20px 15px;
  }

  .content-section2-container img {
    width: 100%;
    transform: translate(0%, 0%);
  }

  .content-section1-container {
    flex-direction: column;
  }

  .img-section1-container {
    width: 90%;
    overflow: hidden;
  }

  .img-section1-container img {
    width: 100%;
    min-width: auto;
  }

  .text-content-section1-container {
    width: 90%
  }

  .text-content-section1-container {
    margin-bottom: 40px;
  }

  .download-button-section1 {
    width: 100%;
  }

  .button-section1-container {
    display: grid;
    grid-template-columns: minmax(auto, 295px);
  }
}

@media (width <= 480px) {
  .content-section2-container {
    grid-template-rows: repeat(2, minmax(auto, 400px)) repeat(2, auto) minmax(290px, auto) minmax(290px, auto)
  }
  .ios, 
  .android, 
  .linux, 
  .mac {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
  }
  .experimental{
    max-height: 100%;
  }

  .archives {
    max-height: 100%;
  }
  .content-section2-container img {
    margin-top: 30px;
  }
}